---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import 'primeicons/primeicons.css'
import '../styles/typing.css';
import  SpeedInsights  from "@vercel/speed-insights/astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is cool</title>
</head>
<Layout>
<body>
    <Navbar />
    <div class="pt-20 opacity-0" style="animation: fadeIn 0.1s forwards;">
        <h1 class="font-sans font-bold text-4xl text-left text-wrap pl-16 pr-16 text-slate-100 fade-up">hi there</h1>
        <div class="font-sans pt-3 font-light text-lg text-left text-wrap pl-16 pr-16 text-slate-100"> 
            <p class="fade-up" style="animation-delay: 0s;">welcome to my personal website</p>
            <p class="fade-up" style="animation-delay: 1s;">my name is vradient (formerly known as atstarcore)</p>
            <p class="fade-up" style="animation-delay: 2s;">i'd like playing game and sometime i'll coding with html stuff</p>
            <p class="fade-up" style="animation-delay: 3s;">member of ngua den group chat, also a member of zsb clan on demonlistvn</p>
            <p class="fade-up" style="animation-delay: 4s;">i have discord account, feel free to message me if you want with this name tag: _vradient</p>
        </div>
        <br>
        <p class="font-sans pt-3 font-light text-lg text-left text-wrap pl-16 pr-16 text-slate-100 fade-up" style="animation-delay: 4s;">my discord server:</p>
        <div class="pt-6 pl-16 pr-16">
            <div class="flex gap-4">
                <a href="https://discord.gg/NppYGkNqgr" class="w-20 h-20 bg-indigo-800 rounded-xl flex items-center justify-center hover:opacity-80 transition-opacity border-2 border-indigo-700 fade-up" style="animation-delay: 4.2s;">
                    <i class="pi pi-discord text-5xl text-white"></i>
                </a>
            </div>
        </div>
        <br>
        <p class="font-sans pt-3 font-light text-lg text-left text-wrap pl-16 pr-16 text-slate-100 fade-up" style="animation-delay: 4.4s;">my social media:</p>
        <div class="pt-6 pl-16 pr-16">
            <div class="flex flex-wrap gap-4">
                <a href="https://www.facebook.com/owhdoheidbekshkwhskbdksbdodboe" class="w-20 h-20 bg-blue-600 rounded-xl flex items-center justify-center hover:opacity-80 transition-opacity border-2 border-[#4893f5] fade-up" style="animation-delay: 4.6s;">
                    <i class="pi pi-facebook text-5xl text-white"></i>
                </a>
                <a href="https://youtube.com/@vradient-yes?si=8ktKXASldAjdKT7x" class="w-20 h-20 bg-[#FF0000] rounded-xl flex items-center justify-center hover:opacity-80 transition-opacity border-2 border-red-500 fade-up" style="animation-delay: 4.8s;">
                    <i class="pi pi-youtube text-5xl text-white"></i>
                </a>
                <a href="https://x.com/IbuyCocacola" class="w-20 h-20 bg-black rounded-xl flex items-center justify-center hover:opacity-80 transition-opacity border-2 border-gray-900 fade-up" style="animation-delay: 5s;">
                    <i class="pi pi-twitter text-5xl text-white"></i>
                </a>
                <a href="https://www.tiktok.com/@vradient?is_from_webapp=1&sender_device=pc" class="w-20 h-20 bg-black rounded-xl flex items-center justify-center hover:opacity-80 transition-opacity border-2 border-gray-900 fade-up" style="animation-delay: 5.2s;">
                    <i class="pi pi-tiktok text-5xl text-white"></i>
                </a>
                <a href="https://github.com/TacoEnjoyer" class="w-20 h-20 bg-[#6E40C9] rounded-xl flex items-center justify-center hover:opacity-80 transition-opacity border-2 border-[#9b75e4] fade-up" style="animation-delay: 5.4s;">
                    <i class="pi pi-github text-5xl text-white"></i>
                </a>
            </div>
        </div>
    </div>
</body>
</Layout> 
</html>