---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>premjerk</title>
</head>
<Layout>
<body>
    <Navbar />
    <h1 class="pt-20 font-sans font-bold text-4xl text-left text-wrap pl-16 pr-16 text-slate-100">here some of my project since 2024</h1>
        
    <div class="fade-up px-12 md:px-28 pt-28">
        <p class="text-center font-sans font-semibold text-2xl text-white">GDVNPS (Geometry Dash Viet Nam Private Server) [currently death]</p>
        <img src="/images/gdvnps.png" class="w-full md:w-[1206px] h-auto max-w-full pt-4 mx-auto rounded-2xl border border-transparent">
    </div>
</body>
</Layout>
</html>