---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>premjerk</title>
</head>
<Layout>
<body>
	<Navbar />
    <h1 class="pt-20 font-sans font-bold text-4xl text-left text-wrap pl-16 pr-16 text-slate-100">nothing to see here yet sadly :(</h1>

</body>