---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
import  SpeedInsights  from "@vercel/speed-insights/astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>premjerk</title>
</head>
<Layout>
<body>
    <Navbar />
    <h1 class="pt-20 font-sans font-bold text-4xl text-left text-wrap pl-16 pr-16 text-slate-100">here some of my project since 2024</h1>
        
    <div class="fade-up px-28 place-items-center md:px-28 pt-28">
        <p class="text-center font-sans font-semibold text-2xl text-white">GDVNPS (Geometry Dash Viet Nam Private Server) [currently death and being reviving]</p>
        <iframe src="http://gdvnps.site" style="padding-top: 18px; width: 60rem; height: 35rem;"></iframe>
    </div>
</body>
</Layout>
</html>